<div class="container-fluid main-container">
  <div class="our-story">
    <h2>Our Story</h2>
    <p>
      At Novel Coffee, we believe in the power of great coffee and even greater
      connections. Our journey begins in the heart of Kenya, where we
      meticulously source premium coffee cherries from small-scale local farmers
      who pour their passion and dedication into every harvest. We’re not just
      in the coffee business; we’re in the business of empowering communities
      and creating a sustainable future
    </p>
  </div>
  <div class="our-story-image">
    <img src="" alt="">
  </div>
</div>
