<div class="container-fluid main-container">
  <div class="our-story">
    <h2>Our Story</h2>
    <p>
      At Novel Coffee, we believe in the power of great coffee and even greater
      connections. Our journey begins in the heart of Kenya, where we
      meticulously source premium coffee cherries from small-scale local farmers
      who pour their passion and dedication into every harvest. We’re not just
      in the coffee business; we’re in the business of empowering communities
      and creating a sustainable future.
    </p>
  </div>
</div>

<div class="container-fluid committment-container">
  <div class="row">
    <div class="col-md-12 commitment-text">
      <h2>Direct from Farm to Cup</h2>
      <p>
        In our commitment to quality and transparency, we’ve established our own
        wet and dry mills, enabling us to process and export our coffee
        directly. By cutting out the middlemen, we ensure that our customers
        receive only the finest coffees while allowing farmers to retain a
        larger share of the profits. This innovative approach not only enhances
        your coffee-drinking experience but significantly boosts the income of
        the farmers, helping them invest in their families and communities.
      </p>
    </div>
  </div>
</div>
