<div class="container-fluid main-container" id="about">
  <div class="our-story">
    <h2 class="h2-title">Our Story</h2>
    <p style="text-align: left">
      At Novel Coffee, we believe in the power of great coffee and even greater
      connections. Our journey begins in the heart of Kenya, where we
      meticulously source premium coffee cherries from small-scale local farmers
      who pour their passion and dedication into every harvest. We’re not just
      in the coffee business; we’re in the business of empowering communities
      and creating a sustainable future.
    </p>
  </div>
</div>

<div class="container-fluid committment-container">
  <div class="commitment-text">
    <h2 class="h2-title">Direct from Farm to Cup</h2>
    <p style="text-align: left">
      In our commitment to quality and transparency, we’ve established our own
      wet and dry mills, enabling us to process and export our coffee directly.
      By cutting out the middlemen, we ensure that our customers receive only
      the finest coffees while allowing farmers to retain a larger share of the
      profits. This innovative approach not only enhances your coffee-drinking
      experience but significantly boosts the income of the farmers, helping
      them invest in their families and communities.
    </p>
  </div>
</div>

<div class="container-fluid factors-container">
  <h2 class="h2-title">
    Key factors contributing to the quality of Kenyan coffee
  </h2>
  <div class="custom-row">
    <div class="custom-column">
      <div class="custom-card">
        <div class="custom-card-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-coffee"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M3 14c.83 .642 2.077 1.017 3.5 1c1.423 .017 2.67 -.358 3.5 -1c.83 -.642 2.077 -1.017 3.5 -1c1.423 -.017 2.67 .358 3.5 1"
            />
            <path d="M8 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2" />
            <path d="M12 3a2.4 2.4 0 0 0 -1 2a2.4 2.4 0 0 0 1 2" />
            <path d="M3 10h14v5a6 6 0 0 1 -6 6h-2a6 6 0 0 1 -6 -6v-5z" />
            <path d="M16.746 16.726a3 3 0 1 0 .252 -5.555" />
          </svg>
        </div>
        <h3 class="custom-card-title">High altitude cultivation</h3>
        <p class="custom-card-description" style="text-align: left">
          Kenyan coffee is grown at elevations ranging from 1,200 to 2,100
          meters or 3930 to 6800 feet above sea level, which results in slower
          bean development, producing a denser and more flavorful bean. This
          elevation means Kenyan coffee beans qualify for Strictly High Grown
          (SHG) / Strictly Hard Bean (SHB) status.
        </p>
      </div>
    </div>

    <div class="custom-column">
      <div class="custom-card">
        <div class="custom-card-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-seedling"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 10a6 6 0 0 0 -6 -6h-3v2a6 6 0 0 0 6 6h3" />
            <path d="M12 14a6 6 0 0 1 6 -6h3v1a6 6 0 0 1 -6 6h-3" />
            <path d="M12 20l0 -10" />
          </svg>
        </div>
        <h3 class="custom-card-title">Volcanic soil</h3>
        <p class="custom-card-description" style="text-align: left">
          The volcanic soil in Kenya provides rich nutrients that contribute to
          the unique taste of the coffee.
        </p>
      </div>
    </div>

    <div class="custom-column">
      <div class="custom-card">
        <div class="custom-card-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-award"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 9m-6 0a6 6 0 1 0 12 0a6 6 0 1 0 -12 0" />
            <path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889" />
            <path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889" />
          </svg>
        </div>
        <h3 class="custom-card-title">Strict grading system</h3>
        <p class="custom-card-description" style="text-align: left">
          Kenya has a rigorous grading system, with "AA" grade being considered
          the highest quality, ensuring only the best beans are exported.
        </p>
      </div>
    </div>

    <div class="custom-column">
      <div class="custom-card">
        <div class="custom-card-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-user-heart"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h.5" />
            <path
              d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z"
            />
          </svg>
        </div>
        <h3 class="custom-card-title">Careful harvesting</h3>
        <p class="custom-card-description" style="text-align: left">
          Kenyan coffee is usually hand-picked, allowing for selective
          harvesting of ripe cherries, further enhancing quality.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid flavor-card-container">
  <div class="row flavor-card-row">
    <div class="col-12">
      <div class="flavor-card">
        <div class="card-body cardbody">
          <h2 class="h2-title">Distinctive flavors of Kenyan coffee</h2>

          <div class="flavor-items-inline">
            <div class="flavor-item">
              <div class="icon-background">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-number-1"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M13 20v-16l-5 5" />
                </svg>
              </div>
              <h5 class="flavor-title">Bright acidity</h5>
              <p class="flavor-description" style="text-align: left">
                Kenyan coffee is known for its lively acidity, often described
                as citrusy or berry-like.
              </p>
            </div>
            <div class="flavor-item flavor-item-2">
              <div class="icon-background">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-number-2"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M8 8a4 4 0 1 1 8 0c0 1.098 -.564 2.025 -1.159 2.815l-6.841 9.185h8"
                  />
                </svg>
              </div>
              <h5 class="flavor-title">Blackcurrant notes</h5>
              <p class="flavor-description" style="text-align: left">
                A characteristic flavor often associated with Kenyan coffee.
              </p>
            </div>
            <div class="flavor-item">
              <div class="icon-background">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-number-3"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 12a4 4 0 1 0 -4 -4" />
                  <path d="M8 16a4 4 0 1 0 4 -4" />
                </svg>
              </div>
              <h5 class="flavor-title">Complex aroma</h5>
              <p class="flavor-description" style="text-align: left">
                Kenyan coffee can have a rich and layered aroma with floral and
                fruity elements.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="why-choose-us-container container-fluid">
  <h2 class="h2-title">Why Choose Us?</h2>
  <div class="why-choose-us-row">
    <div class="why-choose-us-column animated-column">
      <img
        src="assets/images/slider5.jpeg"
        alt="Quality"
        class="why-choose-us-img"
      />
      <h3 class="why-choose-us-title">Sustainable Practices</h3>
      <p class="why-choose-us-description" style="text-align: left">
        We prioritize sustainable farming methods that preserve the environment
        while supporting local economies
      </p>
    </div>

    <div class="why-choose-us-column animated-column">
      <img
        src="assets/images/slider9.jpeg"
        alt="Customer Service"
        class="why-choose-us-img"
      />
      <h3 class="why-choose-us-title">Quality Control</h3>
      <p class="why-choose-us-description" style="text-align: left">
        Our direct involvement in processing ensures that only the highest
        quality beans make it to your cup.
      </p>
    </div>

    <div class="why-choose-us-column animated-column">
      <img
        src="assets/images/slider7.jpeg"
        alt="Affordable Pricing"
        class="why-choose-us-img"
      />
      <h3 class="why-choose-us-title">Ethical Sourcing</h3>
      <p class="why-choose-us-description" style="text-align: left">
        By working directly with farmers, we create fair trade practices that
        benefit both producers and consumers alike.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid committment-container">
  <div class="commitment-text">
    <h2 class="h2-title">Join Us in Making a Difference</h2>
    <p style="text-align: left">
      By choosing Novel Coffee, you’re not just enjoying exceptional coffee;
      you’re supporting the livelihoods of hardworking farmers in Kenya. Each
      sip is a testament to their craftsmanship and your commitment to making a
      positive impact. Together, we can brew a better future. Explore our
      selection of premium Kenyan coffee today and experience the rich flavors
      and stories that each cup brings. Join us in our mission to promote
      justice and sustainability in the coffee industry. Together, we can make
      every coffee moment a meaningful one.
    </p>
  </div>
</div>

<div class="container-fluid contact-container" id="contact">
  <h2 class="h2-title">Contact Us</h2>

  <div class="row contact-row">
    <!-- Left Column: Contact Information -->
    <div class="contact-info">
      <div class="contact-item">
        <div class="icon-container">
          <!-- Phone Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-phone"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
            />
          </svg>
        </div>
        <p>
          <span>Phone Number</span><br />
          (309) 8855-314
        </p>
      </div>

      <div class="contact-item">
        <div class="icon-container">
          <!-- Email Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-mail-opened"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M14.872 14.287l6.522 6.52a2.996 2.996 0 0 1 -2.218 1.188l-.176 .005h-14a2.995 2.995 0 0 1 -2.394 -1.191l6.521 -6.522l2.318 1.545l.116 .066a1 1 0 0 0 .878 0l.116 -.066l2.317 -1.545z"
            />
            <path d="M2 9.535l5.429 3.62l-5.429 5.43z" />
            <path d="M22 9.535v9.05l-5.43 -5.43z" />
            <path
              d="M12.44 2.102l.115 .066l8.444 5.629l-8.999 6l-9 -6l8.445 -5.63a1 1 0 0 1 .994 -.065z"
            />
          </svg>
        </div>
        <p>
          <span>Email Address</span> <br />
          info&#64;novelcoffeellc.com
        </p>
      </div>

      <div class="contact-item">
        <div class="icon-container">
          <!-- Location Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="icon icon-tabler icons-tabler-filled icon-tabler-location"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M20.891 2.006l.106 -.006l.13 .008l.09 .016l.123 .035l.107 .046l.1 .057l.09 .067l.082 .075l.052 .059l.082 .116l.052 .096c.047 .1 .077 .206 .09 .316l.005 .106c0 .075 -.008 .149 -.024 .22l-.035 .123l-6.532 18.077a1.55 1.55 0 0 1 -1.409 .903a1.547 1.547 0 0 1 -1.329 -.747l-.065 -.127l-3.352 -6.702l-6.67 -3.336a1.55 1.55 0 0 1 -.898 -1.259l-.006 -.149c0 -.56 .301 -1.072 .841 -1.37l.14 -.07l18.017 -6.506l.106 -.03l.108 -.018z"
            />
          </svg>
        </div>
        <p>
          <span>Address</span> <br />
          Tulsa, Oklahoma, US.
        </p>
      </div>
    </div>

    <div class="contact-map-form-container">
      <div class="contact-form">
        <h3 class="contact-form-title">Send Us A Message</h3>
        <p style="text-align: left">
          We’d love to hear from you! Whether you have questions, feel free to
          reach out.
        </p>
        <form
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()"
          style="margin-top: 20px"
        >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control"
            />
            <div
              *ngIf="
                contactForm.get('name')?.invalid &&
                contactForm.get('name')?.touched
              "
              class="text-danger"
            >
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="text-danger"
            >
              Enter a valid email.
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone</label>
            <input
              type="text"
              id="phone"
              formControlName="phone"
              class="form-control"
            />
            <div
              *ngIf="
                contactForm.get('phone')?.invalid &&
                contactForm.get('phone')?.touched
              "
              class="text-danger"
            >
              Phone number is required.
            </div>
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea
              rows="5"
              id="message"
              formControlName="message"
              class="form-control"
            ></textarea>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              class="text-danger"
            >
              Message is required.
            </div>
          </div>
          <re-captcha
            formControlName="recaptcha"
            [siteKey]="siteKey"
            (resolved)="resolved($event)"
          ></re-captcha>

          <button type="submit" class="submit-btn">Submit</button>
        </form>
      </div>

      <div class="contact-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3047745.962830283!2d-97.17343949708577!3d36.1540!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87b6e8e376f0abbd%3A0x1c70f38934e9b0e0!2sTulsa%2C%20Oklahoma%2C%20USA!5e0!3m2!1sen!2sin!4v1672849654300!5m2!1sen!2sin"
          width="100%"
          height="100%"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer-container">
  <div class="row footer-row">
    <div class="col-md-4">
      <h3 class="footer-title">Novel Coffee</h3>
      <p>
        Novel Coffee delivers premium Kenyan coffee directly from farmers,
        ensuring quality, sustainability, and fair trade. Our approach empowers
        local communities and promotes ethical practices. Each cup supports
        hardworking farmers and contributes to a better, more sustainable
        future.
      </p>
    </div>
    <div class="col-md-2">
      <h3 class="footer-title">Menu</h3>
      <div class="navlinks">
        <ul class="navlinks-ul">
          <li (click)="navigateTo('home')">Home</li>
          <li (click)="navigateTo('about')">About</li>
          <li (click)="navigateTo('services')">Services</li>
          <li (click)="navigateTo('contact')">Contact</li>
        </ul>
      </div>
    </div>
    <div class="col-md-2">
      <h3 class="footer-title">Follow Us</h3>
      <div class="social-icons">
        <p class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-meta"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
            />
            <path
              d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
            />
          </svg>
        </p>
        <p class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            />
            <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
            <path d="M16.5 7.5v.01" />
          </svg>
        </p>
        <p class="icon-container">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 11v5" />
            <path d="M8 8v.01" />
            <path d="M12 16v-5" />
            <path d="M16 16v-3a2 2 0 1 0 -4 0" />
            <path
              d="M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
            />
          </svg>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>&copy; {{ currentYear }} Novel Coffee. All rights reserved.</p>
  </div>
</div>
