.main-container {
  padding: 20px 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.top-navbar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-navbar .icon-contact-wrapper {
  display: flex;
  align-items: center;
  border-right: 2px solid #333;
  padding-right: 15px;
  height: 15px;
}

.top-navbar .icon-contact-wrapper p {
  margin: 0;
}

.icon-contact {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.icon-contact span {
  font-weight: 400;
}

.icon-contact svg {
  color: #DC8068;
  height: 25px;
  width: 25px;
  padding-right: 6px;
}

.phone-text {
  font-weight: 600 !important;
}

.phone-text:hover {
  color: #DC8068;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-container {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.icon-container:hover {
  background-color: #DC8068;
}

.icon-container svg {
  height: 25px;
  width: 25px;
  color: #333;
  transition: color 0.3s ease;
}

.icon-container:hover svg {
  color: white;
}

.navlinks-container {
  padding: 30px 100px;
}

.navlinks-row {
  display: flex;
  align-items: center;
}

.logo p {
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
}

.navlinks {
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.navlinks-ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navlinks-ul li {
  font-weight: 600;
  font-size: 18px;
}

.navlinks-ul li:hover {
  color: #DC8068;
  cursor: pointer;
}

.mobile-navlinks-container {
  display: none;
  padding: 20px;
}

.mobile-navlinks-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-toggler svg {
  height: 35px;
  width: 35px;
  stroke-width: 3;
}

.mobile-menu-links {
  display: none;
}

.bar-close-toggler {
  background-color: #DC8068;
  padding: 8px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.bar-close-toggler svg {
  color: #fff;
  height: 20px;
  width: 20px;
  stroke-width: 3;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.mobile-menu-links.open {
  right: 0;
  display: block;
  animation: slideInFromRight 0.5s ease-in-out forwards;
}

.mobile-menu-links.closing {
  animation: slideOutToRight 0.5s ease-in-out forwards;
}

@media (max-width: 768px) {
  .main-container {
    padding: 20px;
  }
}

@media (max-width: 475px) {
  .navlinks-container {
    display: none;
  }

  .mobile-navlinks-container {
    display: block;
  }

  .top-navbar-row {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  .top-navbar {
    flex-direction: column;
    align-items: start;
  }

  .top-navbar .icon-contact-wrapper {
    border-right: none;
  }

  .icon-container svg {
    height: 20px;
    width: 20px;
    color: #333;
    transition: color 0.3s ease;
  }

  .logo p {
    font-weight: 600;
    font-size: 15px;
  }

  .mobile-menu-links {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 9999;
    animation: slideInFromRight 0.5s ease-in-out forwards;
  }

  .navlinks-ul {
    display: flex;
    flex-direction: column;
  }
}
