/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", serif;
}

h1,
h2,
h3 {
  font-family: "DM Sans", serif;
}

p{
  font-family: "Outfit", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 1px;
}